    <footer>
      <nav class="navbar navbar-expand-lg navbar-dark bg-info">
       <h6 class="display-6 navbar-text">&copy; Copyright 2020 Chadwick Lapis</h1>
      </nav>
    </footer>
    
    
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/npptstrap.min.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>