<% include partials/header.ejs %>

<% include partials/main_nav.ejs %>

    <main class="container">
      <div class="jumbotron">
        <h1><%=title%></h1>
        <% include partials/page_gallery.ejs %>
        <p><%=content%></p>
      </div>
    </main>

<% include partials/footer.ejs %>



