<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/content/stylesheets/app.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Chadwick's Portfolio</p>

    <script src="/scripts/app.js"></script>
  </body>
</html>
